body {
    font-family: Arial, sans-serif;
    margin: 16px;
}
.tasca {
    margin: 8px;
    padding: 8px;
    border: 2px solid black;
    border-radius: 8px;
    width: fit-content;
}
button {
    font-size: 16px;
    border-width: 4px;
    border-radius: 4px;
    cursor: pointer;
}
.elimina {
    background-color: red;
    border-color: maroon;
}
.edita {
    background-color: yellow;
    border-color: darkgoldenrod;
}
#afegeix {
    margin-top: 8px;
    padding: 4px 8px;
    background-color: rgb(0, 153, 0);
    border-color: darkgreen;
    color: white;
}
.elimina, .edita {
    margin-left: 16px;
    padding: 2px 4px;
    color: black;
}
#dialog{
    display: none;
}
#capTasca {
    font-style: italic;
    color: gray;
}